.text-white{
    
    margin: 100px 0 0 500px;
 }
 
 .btng{
     background-color:#0D9DFF ;
     border-radius: 15px;
     padding: 5px 10px;
     border-color: #0D9DFF ;
     color: #FFF;
 }
 
 .text-center2{
 
     border-radius: 15px;
     padding: 5px 10px;
     color: #FFF;
 }